@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Bold.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Black.eot');
	src: local('☺'), url('../fonts/Rubik-Black.woff') format('woff'), url('../fonts/Rubik-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Bold.eot');
	src: local('☺'), url('../fonts/Rubik-Bold.woff') format('woff'), url('../fonts/Rubik-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Medium.eot');
	src: local('☺'), url('../fonts/Rubik-Medium.woff') format('woff'), url('../fonts/Rubik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}